body {
  background-color:#e0edec;
}


nav {
  display: flex;
  justify-content: space-between; /* Distributes items evenly across the width */
  align-items: center;            /* Vertically centers items */
  padding: 20px 80px;                /* Adds padding on left and right for spacing */
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;                    /* Ensures nav takes full width of the page */
  box-sizing: border-box; 
  border-radius: 15px;
  background-color:#244855;       
}

nav a {
  text-decoration: none;          
  color: inherit;                 
  padding: 10px 15px; 
}

nav a:hover {
  color: #FBE9D0;                 
}

h1 {
  font-size: 36px;
  color: #AFDDE4;
  text-align: center;
  font-family: Arial, sans-serif;
}


section {
  background-color: #244855;  
  padding: 30px;              
  width: 100%;               
  max-width: 600px;           
  border-radius: 16px;         
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: 400px;
  align-content: center;
  align-self: center;
}

.userForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #244855;
  padding: 20px;
}

.textFields {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  
}
.textfields input {
  padding: 15px;
  margin: 5px 0;
}

